*{
   margin:0;
   padding:0;
   box-sizing:border-box;
   font-family:sans-serif;
   caret-color:transparent; 
}

img,
button,
.navbar,
.hero{
   user-select:none;

}

button{
  border:none;
  cursor:pointer;
}